<div class="registration_form">
	<div class="_reg_hd_name">
		POPULAR CATEGORIES
	</div>
	<div class="inlineparent ctgry_lst">
		<input type="hidden" value="<%=gbId%>" id="gbId"/>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\business.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Business')!=-1?'active':''%>" data-id="Business">
				<h3 style="margin:0;">Business</h3>
				<%if(category!=null && category.indexOf('Business')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\cause.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Cause')!=-1?'active':''%>" data-id="Cause">
				<h3 style="margin:0;">Cause</h3>
				<%if(category!=null && category.indexOf('Cause')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\education.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Education')!=-1?'active':''%>" data-id="Education">
				<h3 style="margin:0;">Education</h3>
				<%if(category!=null && category.indexOf('Education')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\heath.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Health')!=-1?'active':''%>" data-id="Health">
				<h3 style="margin:0;">Health</h3>
				<%if(category!=null && category.indexOf('Health')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\movies.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Movies')!=-1?'active':''%>" data-id="Movies">
				<h3 style="margin:0;">Movies</h3>
				<%if(category!=null && category.indexOf('Movies')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\music.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Music')!=-1?'active':''%>" data-id="Music">
				<h3 style="margin:0;">Music</h3>
				<%if(category!=null && category.indexOf('Music')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\books.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Books')!=-1?'active':''%>" data-id="Books">
				<h3 style="margin:0;">Books</h3>
				<%if(category!=null && category.indexOf('Books')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\science.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Science')!=-1?'active':''%>" data-id="Science">
				<h3 style="margin:0;">Science</h3>
				<%if(category!=null && category.indexOf('Science')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\travel.png" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Travel')!=-1?'active':''%>" data-id="Travel">
				<h3 style="margin:0;">Travel</h3>
				<%if(category!=null && category.indexOf('Travel')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>									
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\finance.png" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Finance')!=-1?'active':''%>" data-id="Finance">
				<h3 style="margin:0;">Finance</h3>
				<%if(category!=null && category.indexOf('Finance')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\food.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Food')!=-1?'active':''%>" data-id="Food">
				<h3 style="margin:0;">Food</h3>
				<%if(category!=null && category.indexOf('Food')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\sports.jpg" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Sports')!=-1?'active':''%>" data-id="Sports">
				<h3 style="margin:0;">Sports</h3>
				<%if(category!=null && category.indexOf('Sports')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\social.png" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Social')!=-1?'active':''%>" data-id="Social">
				<h3 style="margin:0;">Social</h3>
				<%if(category!=null && category.indexOf('Social')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>
		<div class="pos_rel category_img_blck">
			<img class="crsr_pntr" src="..\img\category_img\other.png" class="sr_rto"/>
			<div class="pos_abs __category content_val_text inlineparent <%= category!=null && category.indexOf('Other')!=-1?'active':''%>" data-id="Other">
				<h3 style="margin:0;">Other</h3>
				<%if(category!=null && category.indexOf('Other')!=-1){%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_added.png"/>
				<%}else{%>
					<img class="crsr_pntr" class="crsr_pntr" src="..\img\circle_add.png"/>
				<%}%>
			</div>
		</div>																								
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".__category").click(function(){
				var _self=$(this);
				$.ajax({
					url:"/gb/srvc/save-category/"+$("#gbId").val()+"/"+_self.attr("data-id"),
					type:"POST",
					success:function(data){
						if(data.status==0){
							if(data.result=='added'){
								_self.addClass("active");
								_self.find('img').attr("src",'../img/circle_added.png')
							}else{
								_self.removeClass("active");
								_self.find('img').attr("src",'../img/circle_add.png')
							}

						}
					}
				});
			});
		});
	</script>
</div>