<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.html.ejs %>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/css/homelanding.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<% include ../partials/_section_header.html.ejs %>
		<section>
			<div class="center-div">
				<div class="row wdth_100_per bg_fff bx_szg">
				<!-- left -->
					<div class="headerBarSearch">
						<div class="top-image inlineparent bx_szg wdth_100_per">
							<h1 class="wdth_100_per __center"><%=user.username%></h1>
						</div>
						<input type="hidden" value="<%=user.signUserId%>" id="signUserId"/>
						<div class="left-bar inlineparent">
							<%if(user.location!=undefined){%>	
								<p class="wdth_100_per bx_szg"><img src="../img/landmark.png" class="imgl" width="11" height="20" />
									<%if(user.location.area!=undefined){%>
										<%=user.location.area%>,
									<%}%>
									<%if(user.location.city!=undefined){%>
										<%=user.location.city%>,
									<%}%>
									<%if(user.location.state!=undefined){%>
										<%=user.location.state%>,
									<%}%>
									<%if(user.location.country!=undefined){%>
										<%=user.location.country%>
									<%}%>
							   </p>
							<%}%>
							<%if(user.emailId!=undefined){%>
								<p class="wdth_100_per bx_szg"><img src="../img/mail.png" class="imgl1" style="width: 20px !important;"/><%=user.emailId%></p>
							<%}%>
							<%if(user.phone!=undefined){%>	
								<p class="wdth_100_per bx_szg"><img src="../img/phone.png" class="imgl1" style="height: 20px !important;width: 10px !important;"/> <%=user.phone%></p>
							<%}%>
						</div>
						<%if(user.shortDesc!=undefined && user.shortDesc!=''){%>
							<p class="wdth_100_per bx_szg shortDesc" style="line-height: 1.6"><%=user.shortDesc%></p>
						<%}%>
						<div class="center wdth_100_per bx_szg">
							<div class="search wdth_100_per bx_szg">
								<input name="Search" type="text" class="form-control wdth_100_per bx_szg" placeholder="Search" id="searchPeople" />
							</div>
							<div class="menu inlineparent dsp_nn">
								<ul class="wdth_100_per inlineparent">
									<li><a href="#" class="active">Name</a></li>
									<li><a href="#">Category</a></li>
									<li><a href="#">Tags</a></li>
									<li><a href="#">Neighbours</a></li>
								</ul>
							</div>
						</div>

					</div>

				<!-- left -->
				<!-- mid -->
					<div class="wdth_100_per" id="centerModal" style="margin-bottom:14px;">
						<div class="headerBarSearch inlineparent" style="margin-top:15px;">
							<div class="categorymodel inlineparent" data-bind="event:{load:$root.categoryListing()}">
								<!--ko foreach:category-->
									<div data-bind="click:function(){$root.catClick($data.value)},attr:{'class':'__categorylist wdth_100_per bx_szg '+$data.value}"><!--ko text:$data.key--><!--/ko--></div>
								<!--/ko-->		
							</div>
							<div class="inlineparent resultModal" style="vertical-align:top;margin-top:15px;" data-bind="event:{load:$root.listing()},template:{name:'listingTemp'}">
							</div>
						</div>

						
					</div>
					<script type="text/html" id="listingTemp">
						<!--ko foreach:content-->
							<div class="row result bg_fff inlineparent wdth_100_per bx_szg">
							  	<div class="top-image1 inlineparent">
								  	<img src="../img/girl.png" width="25" height="25" class="imgl1" /> 
								  	<div class="inlineparent">
									 	<h1 class="wdth_100_per inlineparent resHead" data-bind=""><!--ko text:username--><!--/ko--> <span>Model/actress</span></h1>
								  	</div>
								</div>
								<div class="wdth_100_per inlineparent">
									<div class="inlineparent wdth_100_per ">
										<div class="text resInfo_ bx_szg" style="width:100px;"data-bind="text:phone">9650193556</div>
										<div class="text resInfo_ bx_szg" style="border-left: 0;" data-bind="text:emailId">hament@glambin.com</div>
										<!--ko if:location!=null-->
											<div class="text resInfo_ bx_szg"><!--ko text:location.area--><!--/ko-->,<!--ko text:location.city--><!--/ko--></div>
										<!--/ko-->
										<div class="text resInfo_ bx_szg"><!--ko if:experience!=undefined--><!--ko text:experience.length--><!--/ko--><!--/ko--><!--ko if:experience==undefined-->0<!--/ko--> years of experience</div>	
									</div>
									<div class="inlineparent wdth_100_per bx_szg">
										<!--ko if:shortDesc!=null && shortDesc!=undefined && shortDesc!=''-->
											<div class="text resInfo_ wdth_100_per bx_szg"><!--ko text:shortDesc--><!--/ko--></div>	
										<!--/ko--> 
										<!--ko if:(category!=null && category.length>0)-->
											<div class="text resInfo_ wdth_100_per bx_szg inlineparent">
											<!--ko foreach:$data.category-->
												<div class="Categorytags bx_szg"><!--ko text:$data--><!--/ko--></div>
											<!--/ko-->	
											</div>
										<!--/ko-->
										<div class="inlineparent text resInfo_ wdth_100_per bx_szg" style="text-align:right;">
											<p class="__conn" data-bind="click:function(){$root.connect(gbId)}">Connect</p>
											<a class=" bx_szg" data-bind="attr:{'href':'/profile/'+gbId}">
												<div class="bx_szg vpRo">View Profile</div>	
											</a>
										</div>
									</div>
								</div>
							</div>
						<!--/ko-->
					</script>
				</div>
			</div>
		</section>
		<% include ../partials/_section_footer.html.ejs %>
		<script type="text/javascript">
			function userListing(){

			}

			userListing.prototype.init = function(first_argument) {
				var _self=$(this);
				_self.userListingViewModel={
					content:ko.observableArray(),
					category:ko.observableArray(),
					listing:function(){
						var _selfList=this;
						$.ajax({
							url:"/user-srvc/list-users",
							type:"post",
							success:function (data) {
								if(data.status==0){
								   ko.utils.arrayPushAll(_selfList.content,data.result);
								}
							}
						});
					},
					categoryListing:function(){
						var _selfList=this;
						$.ajax({
							url:"../json/category.json",
							type:"get",
							success:function (data) {
								ko.utils.arrayPushAll(_selfList.category,data.category);
							}
						});
					},
					catClick:function(id){
						$(".__categorylist").removeClass("active");
						$(".__categorylist."+id).addClass("active");
						$.ajax({
							url:"/user-srvc/list-users?category="+id,
							type:"post",
							success:function (data) {
								if(data.status==0){
									_selfList.content([]);
								   ko.utils.arrayPushAll(_selfList.content,data.result);
								}
							}
						});	
					},
					connect:function(gbId){
						$.ajax({
							url:'/profile-connect/'+gbId,
							type:"post",
							data:{xUser:$("#signUserId").val()},
							success:function(data){
								if(data.status==0){
									alert("Thanks for connecting..")	
								}
							}
						});
					}
				}
				ko.applyBindings(_self.userListingViewModel,document.getElementById('centerModal'));

			};
			
			$(document).ready(function(){
				var listing=new userListing();
				listing.init();

				$("#searchPeople").autocomplete({
					source:function(req,res){
						$.ajax({
							url:"/gb/search/search-user?name="+req.term,
							type:"post",
							success:function(data){
								if(data.status==0 && data.result.length>0){
									res($.map(data.result,function (item) {
										return {
											label:item.username,
											value:item.handle,
										}
									}));
								}
							}
						});
					},
					minLength:3,
					cache:false,
					select:function(event,ui){
						window.location.href="/profile/"+ui.item.value;
					}
				})
			});
		</script>
	</body>
</html>
